.view_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 0;
}

.area{
    margin-top: 40px;
    padding: 5px;
    width: 200px;
}

.button{
    margin-left: 60px;
    padding: 5px;
    width: 100px;
}

.cat__mood{
    display: flex;
    margin-bottom: 50px;
}

.cat__mood img{
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}